body, html{
    padding:0 !important; 
    margin:0 !important;
    background-color:white;
}

@font-face {
  font-family: 'OpenSans-Bold';
  font-style: normal;
  font-weight: normal;
  src: local('OpenSans-Bold'), url('../media/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSans-Regular';
  font-style: normal;
  font-weight: normal;
  src: local('OpenSans-Regular'), url('../media/OpenSans-Regular.ttf') format('truetype');
}

p {
    text-align:left;
}

p, h1,h2,h3,h4,h5,div,span {
  line-height:160%;
}

a {
    color:black;
}

.listwrapper ul, ol {
    display: inline-block;
    text-align:left;
}


.bold {
    font-family: 'OpenSans-Bold', helvetica;
}

.homeview, .expview, .projview {
    padding:170px;
}
.designview {
    padding:90px;
}

@media (max-width: 768px) and (min-width: 320px) {
    .designview {
        padding:90px 40px;
    }
}

.immigrationview, .gametrackview, .fpsUIview, .mobilegameview, .flyerview, .CANview, .fordview, .sqview, .dayspaview, .tutorview, .UMSIview, .socioUXview, .pygameview, .AIview, .miscview, .foodview {
    padding: 200px 0px 200px 0px; /* whitespace issue fixed! */
}

/* Navigation*/


.navbar {
    background-color: rgba(250, 250, 250, 0.9);
    font-family: 'OpenSans-Regular', helvetica;
    letter-spacing: 1px;
    text-align: center;
    opacity:50%;
}

.navbar text {
    color:black;
}

.scrolling-navbar {
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
}

.top-nav-collapse {
  background-color: white;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

 .navbar.navbar-dark .breadcrumb a, .navbar.navbar-dark .navbar-nav .nav-item a {
    color: black;
    transition: .35s;
}


.logo {
    width:3%;
    position:absolute;
    left:15px;
    top:20px;
}

@media (max-width: 768px) {
    .logo {
        width:30px;
    }
}

@media (max-width: 1024px) {
    .logo {
        width:40px;
    }
}

.logo:hover {
  -moz-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  transition:.35s;
}

.content {
    color: black;
    margin-top: -1px;
    font-family: 'OpenSans-Regular', helvetica;
    letter-spacing: 1.5px;
}


footer.page-footer {
    background-color: white;
    margin-top: -1px;
    font-family: 'OpenSans-Regular', helvetica;
    letter-spacing: 2px;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: white;
    }
    .img-circleface {
        width:2000%;
    }
}

.flex-center {
    color: #fff; /*color of text on top modal */
    font-family: 'OpenSans-Regular', helvetica;
    font-size: 30px;
    letter-spacing: 3px;
    position:relative;
    top:50px;
}

.flex-center-main {
    color: #000; /*color of text on top modal */
    font-family: 'OpenSans-Regular', helvetica;
    font-size: 30px;
    letter-spacing: 3px;
    position:relative;
    top:50px;
    text-align:center;
}

.flex-center-index {
    color: #000; /*color of text on top modal */
    font-family: 'OpenSans-Regular', helvetica;
    font-size: 30px;
    letter-spacing: 3px;
    position:relative;
    top:50px;
    text-align:center;
}

/* Small devices */
@media (max-width: 768px) {
    .flex-center {
        position:absolute;
        left:50px;
        top:50px;
    }
    .flex-center-main {
        position:absolute;
        left:50px;
        top:100px;
        font-size: 25px;
    }
}


.homeview {
    background: white;
}

.designview {
    background: white;
}

.immigrationview {
    background-image:url('../media/greencard.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.gametrackview {
    background-image:url('../media/steamlibrary.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color:black;
}
.fpsUIview {
    background-image:url('../media/deusexui.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color:black;
}

.mobilegameview {
    background-image:url('../media/phonebanner.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color:black;
}

.flyerview {
    background-image:url('../media/skyline.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color:black;
}

.CANview {
    background-image:url('../media/bryant1.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.fordview {
    background-image:url('../media/ford2.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.sqview {
    background-image:url('../media/sq1.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.dayspaview {
    background-image:url('../media/dayspablack.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.tutorview {
    background-image:url('../media/SAT.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.UMSIview {
    background-image:url('../media/evolution.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.socioUXview {
    background-image:url('../media/stickynotes.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.pygameview {
    background-image:url('../media/doom.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.AIview {
    background-image:url('../media/creativeai.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.foodview {
    background-image:url('../media/foodbg.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.miscview {
    background-image:url('../media/htmlcode.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.expview {
    background: white;
}

.projview {
    background: white;
}


.animated img{
    width:60%;
    display: block;
    margin: 0 auto;
}

.canimg1{
    width:50%;
}

.canimg2{
    width:30%;
}

.canimg3{
    width:40%;
}

.fordimg1{
    width:40%;
}

.fordimg2{
    width:100%;
}

.fordimg3{
    width:100%;
}

.sqimg1{
    width:40%;
}

.sqimg2{
    width:100%;
}

.sqimg3{
    width:100%;
}

.dayspaimg {
    width:30%;
}

.projimg1{
    width:50%;
}

.projimg2{
    width:80%;
}

 .projimg3{
    width:30%;
}

.fpsUIimage{
    width:60%;
    display: block;
    margin: auto;
}

.immigrantimage{
    max-width:40%;
    display: block;
    margin: auto;
    border-radius:10px;
}

.immigrantimage2,.immigrantimage3 {
    width:100%;
    display: block;
    margin: auto;
    border-radius:10px;
}
.personaimage{
    width:60%;
    display: block;
    margin: auto;
    border-radius:10px;
}


.mobilegameimage {
    width:60%;
    display: block;
    margin: auto;
    border-radius:10px;
}

.mobilegameimagehorizontal {
    width:100%;
    display: block;
    margin: auto;
    border-radius:10px;
}

.flyerimage {
    width:40%;
    display: block;
    margin: auto;
    min-width: 300px;
}

.gametrackimg1 {
    width:40%;
}

.gametrackimg2 {
    width:30%;
}

.gametrackimg3 {
    width:100%;
}

.gametrackflowimg{
    width:50%;
}

.gametrackimg9,.gametrackimg10, .gametrackimg14 {
    width:100%;
}

.gameguideimage{
    display: block;
    margin: auto;
    border-radius:10px;
}

.gamepersonaimage{
    width:100%;
    display: block;
    margin: auto;
    border-radius:10px;
}

.gamepersona1{
    border-right: 1px solid white;
}

.pygameimg1,.pygameimg2{
    width:100%;
}

.AIimg{
    width:30%;
}
.foodimg {
    width:30%;
}

.socioimg1,.socioimg2,.socioimg3,.socioimg4, .socioimg5, .socioimg6 {
    width:30%;
}

.gametrackimg4, .gametrackimg5, .gametrackimg6, .gametrackimg7, .gametrackimg8, .gametrackimg11, .gametrackimg12, .gametrackimg13 {
    width:25%;
}

.UMSIimg1, .UMSIimg2, .UMSIimg3, .UMSIimg4, .UMSIimg5 {
    width:50%;
}

.UMSIimg6 {
  width:30%;
}
@media (max-width: 768px) {
    .fpsUIimage,.immigrantimage, .immigrantimage2, .immigrantimage3, .immigrantimage4, .immigrantimage5, .immigrantimage6, .immigrantimage7, .immigrantimage8, .flyerimage,.gametrackimg1,.gametrackimg2, .gametrackimg3, .gametrackflowimg,.gametrackimg4,
    .gametrackimg5, .gametrackimg6, .gametrackimg7, .gametrackimg8, .gametrackimg9, .gametrackimg10, .gametrackimg11, .gametrackimg12, .gametrackimg13, .gametrackimg14, .gameguideimage, .canimg1,.canimg2,.canimg3, .fordimg1, .fordimg2,
    .fordimg3, .sqimg1, .sqimg2, .sqimg3, .dayspaimg, .tutorimg, .AIimg, .foodimg, .socioimg1,.socioimg2,.socioimg3,.socioimg4, .socioimg5, .socioimg6, .UMSIimg1, .UMSIimg2, .UMSIimg3, .UMSIimg4, .UMSIimg5,.UMSIimg6, .miscprojimg1,.miscprojimg2,.miscprojimg3{
        width:100%;
    }
}

@media (max-width: 1024px) {
    .fpsUIimage,.immigrantimage, .immigrantimage2, .immigrantimage3, .immigrantimage4, .immigrantimage5, .immigrantimage6, .immigrantimage7,.immigrantimage8, .flyerimage, .gametrackimg1,.gametrackimg2, .gametrackimg3,.gametrackflowimg, .gametrackimg4,
    .gametrackimg5, .gametrackimg6, .gametrackimg7, .gametrackimg8, .gametrackimg9, .gametrackimg10, .gametrackimg11, .gametrackimg12, .gametrackimg13, .gametrackimg14, .gameguideimage,.canimg1,.canimg2,.canimg3,
    .fordimg1, .fordimg2, .fordimg3, .sqimg1, .sqimg2, .sqimg3, .dayspaimg, .tutorimg, .AIimg, .foodimg, .socioimg1,.socioimg2,.socioimg3,.socioimg4, .socioimg5, .socioimg6, .UMSIimg1, .UMSIimg2, .UMSIimg3, .UMSIimg4, .UMSIimg5,.UMSIimg6, .miscprojimg1,.miscprojimg2,.miscprojimg3{
        width:100%;
    }
}

.centered{
    text-align:center; 
    justify-content: center;
}

.leftalign {
    text-align:left;
}

.modal-content{
    color:black;
}


.img-circleface {
    border-radius:50%;
    max-width: 10%;
    min-width: 200px;
    height: auto;
}

.info img {
    width:5%;
}

.extrapadding {
    padding-top:250px;
    padding-bottom:250px;
}

.padding {
    padding-bottom:120px;
    padding-top:120px;
}

.mediumpadding {
    padding-bottom:70px;
    padding-top:30px;
}

.smallpadding {
    padding-top:20px;
}

.btn {
    border-radius:10px;
    background:gray;
}

.btn:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
}

.topgrid, .midgrid {
    width:100%;
}
.topgrid div, .midgrid div {
    width:100%;
    padding:30px;
}

.botgrid {
    width:100%;

}
.botgrid div {
    width:100%;
    padding:40px;
}

.aboutmegrid {
    background: #e9f6fc;
}


.skillsgrid {
    background: #bee5f6;
}

.courseworkgrid {
    background:#94d5f0;
}

.header{
    width:100%;
}


.aboutmetext p, .skillstext p, .courseworktext p,.aboutmetext img,.aboutmetext button {
    -webkit-animation: fadein 7s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 7s; /* Firefox < 16 */
        -ms-animation: fadein 7s; /* Internet Explorer */
         -o-animation: fadein 7s; /* Opera < 12.1 */
            animation: fadein 7s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/*hover animations*/
.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  background:#5f6c7a; /*hover color bg*/
}

 h2 span,h3 span, h5 span{
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.5);
   padding: 3px;
   border-radius:5px;

} 

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  padding: 50px 20px;
}

.hovereffect img {
  display: block;
  position: relative;
  max-width: none;
  width: calc(100% + 20px);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-10px,0,0);
  transform: translate3d(-10px,0,0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.hovereffect:hover img {
  opacity: 0.4;
  filter: alpha(opacity=40);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.hovereffect h2 {
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 24px;
  overflow: hidden;
  padding: 0.5em 0;
  background-color: transparent;
  bottom:35px;
}

@media (max-width: 1740px) {
    .hovereffect h2 {
        bottom:50px;
        font-size:22px;
    }
}

@media (max-width: 1540px) {
    .hovereffect h2 {
        bottom:50px;
        font-size:18px;
    }
}

@media (max-width: 1024px) {
    .hovereffect h2 {
        bottom:50px;
        font-size:12px;
    }
}

@media (max-width: 768px) {
    .hovereffect h2 {
        bottom:40px;
        font-size:12px;
    }
}

.hovereffect h2:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  content: '';
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(-100%,0,0);
  transform: translate3d(-100%,0,0);
}

.hovereffect:hover h2:after {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.hovereffect a, .hovereffect p {
  color: #FFF;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}


.textwrapper p, .textwrapper h1, .textwrapper h3, .textwrapper h4, .textwrapper h5, .textwrapper span{
    width: 50%;
    margin: 0 auto;
}

.listwrapper li {
    width:70%;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .textwrapper p, .textwrapper h1, .textwrapper h3, .textwrapper h4, .textwrapper h5, .textwrapper span, .listwrapper li{   
        width: 100%;
        margin: 0 auto;
    }
}

footer.page-footer .call-to-action ul li {
    display: inline;
}


.email,.linkedin,.github {
    width:2%;
    border-radius:10px;
}

@media (max-width: 768px) {
    .email,.linkedin,.github {
        width: 20%;
    }
}

@media (max-width: 1024px) {
    .email,.linkedin,.github {
        width: 4%;
    }
}

.email:hover,.linkedin:hover,.github:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition:.35s;
}


.container-fluid {
    background-color:white;
    color:black;
}


/* scrolling sidebar nav */

.sidebar {
   position: fixed;
   left: 50px;
   top: 400px;
   font-family: 'OpenSans-Regular', helvetica;
   font-size:14px;
   background-color:white;
   border-radius:10px;
   padding:8px 8px 8px 8px;
   z-index: 1;
}

.sidebar a {
    color:black;
}

@media only screen and (max-width: 768px) {
  .sidebar {
  display: none;
  }
}

.hoverpop:hover {
  -moz-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.redlogo, .bluelogo {
    width:20px;
    padding-bottom:8px;
    padding-right:6px;
}


/* full page hamburger bar */

body { 
  -webkit-animation: bugfix infinite 1s; 
}

@-webkit-keyframes bugfix { 
  from {padding:0;} 
  to {padding:0;} 
}

input[type="checkbox"]#togglebox {
  /* checkbox used to toggle menu state */
  position: absolute;
  left: 0;
  top: 0;
  visibility: hidden;
}

label#navtoggler{  /* Main label icon to toggle menu state */
  z-index: 0;
  display: block;
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 12px;
  /* change font size to change label dimensions. Leave width/height below alone */
  width: 3.5em;
  height: 2.5em;
  text-indent: -1000px;
  border: 0.6em solid #B41C24;
  /* border color */
  border-width: 0.6em 0;
  cursor: pointer;
}


label#navtoggler::before{
  /* inner strip inside label */
  content: "";
  display: block;
  position: absolute;
  top: 7.5px;
  right: 0px;
  width: 100%;
  height: 0.6em;
  margin-top: -0.3em;
  background: #B41C24; /* stripes background color. Change to match border color of parent label above */
  border-radius: 4px;
}

label#navtoggler:hover {
  -moz-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  transition:.35s;
}


nav#expand-fullpagemenu{ /* Full screen nav menu */
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  visibility: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: scale(0.9);  /* initially scale down nav size */
  transform: scale(0.9);
  background: #29ABE2;
  display: block;
  position: fixed;
  z-index: 100;
  opacity: 0;
  text-align: center;
  overflow: auto;
  -moz-transition: visibility 0s 0.5s, opacity 0.5s, -moz-transform 0.5s; /* transition settings */
  -webkit-transition: visibility 0s 0.5s, opacity 0.5s, -webkit-transform 0.5s;
  transition: visibility 0s 0.5s, opacity 0.5s, transform 0.5s;
}

input[type="checkbox"]#togglebox:checked ~ nav#expand-fullpagemenu{ /* nav state when corresponding checkbox is checked */
  visibility: visible;
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -ms-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  -transition-delay: 0s;
}

nav#expand-fullpagemenu label#closex{ /* Large x close button inside nav */
  width: 80px;
  height: 80px;
  overflow: hidden;
  display: block;
  position: absolute;
  cursor: pointer;
  text-indent: -1000px;
  z-index: 10;
  top: 0;
  right: 0;
}

label#closex:hover {
  -moz-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  transition:.35s;
}


nav#expand-fullpagemenu label#closex::before, nav label#closex::after{ /* render large cross inside close button */
  content: "";
  display: block;
  position: absolute;
  width: 50%;
  height: 9px;
  background: #B41C24;
  top: 50%;
  margin-top: -3px;
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

nav#expand-fullpagemenu label#closex::after{ /* render large cross inside close button */
  -ms-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

nav#expand-fullpagemenu a{
  text-decoration: none;
  color: #B41C24;
  text-transform: uppercase;
  font-family: 'OpenSans-Regular', helvetica;
}

nav#expand-fullpagemenu ul{
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  max-height: 100%;
  top: 50%; /* center UL vertically inside nav */
  -webkit-transform: translateY(-50%); /* center UL vertically inside nav */
  transform: translateY(-50%);
  font: bold 2em 'Bitter', sans-serif; /* use google font inside nav UL */
}

nav#expand-fullpagemenu ul li{
  margin-bottom: 30px;
}

nav#expand-fullpagemenu ul li a{
  padding: 8px;
  border-radius: 5px;
}

nav#expand-fullpagemenu ul li a:hover{
  background: white;
}



</style>

<script>

  // Extra function to control menu state from anywhere on your page/ inside your script
  function expandfullscreenmenu(action){ //param: 'open', 'close', or empty to toggle menu state
    var togglebox = document.getElementById("togglebox")
    var newstate =  (action == 'open')? true : (action == 'close')? false : !togglebox.checked
    togglebox.checked = newstate
  }

</script>

<!--[if lte IE 8]>

  <style>

  /* IE8 specific CSS */

  label#navtoggler{
    border-width: 0.6em;
  }

nav#expand-fullpagemenu label#closex{
  font-size: 2em;
  text-indent: 0;
}

  #expand-fullpagemenu{
    visibility: hidden;
  }

  </style>

  <script>
   // IE8 MENU COMPATIBILITY CODE:
  document.createElement("nav")

  function expandfullscreenmenu(action){
    var nav = document.getElementById("expand-fullpagemenu")
    var newstate =  (action == 'open')? 'visible' : (action == 'close')? 'hidden' : nav.style.visibility == 'hidden'? 'visible' : 'hidden'
    nav.style.visibility = newstate
  }

  window.attachEvent("onload", function(){
    document.getElementById("navtoggler").onclick = function(){
      expandfullscreenmenu('open')
    }
    document.getElementById("closex").onclick = function(){
      expandfullscreenmenu('close')
    }
  })
  
  </script>

<![endif]-->

