html,
body,
.view {
    height: 100%;
}
/* Navigation*/

.navbar {
    background-color: transparent;
}

.scrolling-navbar {
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
}

.top-nav-collapse {
    background-color: #1C2331;
}

footer.page-footer {
    background-color: #1C2331;
    margin-top: -1px;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #1C2331;
    }
}
/*Call to action*/

.flex-center {
    color: #fff;
}

.view {
    background: url("../media/umlibrary.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.call-to-action img{
    width:10%;
}

.umlogo{
    width:20%;
}

.animated img{
    width:60%;
    display: block;
    margin: 0 auto;
}

.call-to-action img{
    width:10%;
}

.expimage1{
    width:50%;
}

.expimage2{
    width:35%;
}

.expimage3{
    width:30%;
}

.expimage4{
    width:50%;
}

.expimage5{
    width:35%;
}

.projimg1{
    width:60%;
}

 .projimg2{
    width:40%;
}
.SIG{
    color:royalblue !important;
}

.WFimage1{
    width:60%;
    display: block;
    margin: auto;
}

.wireframe{
    text-align:center;
}

