@font-face {
  font-family: 'CODEBold';
  font-style: normal;
  font-weight: normal;
  src: local('CODEBold'), url('../media/CODEBold.otf') format('truetype');
}

@font-face {
  font-family: 'Lato-Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Lato-Regular'), url('../media/Lato-Regular.ttf') format('truetype');
}

.homeview {
    padding:200px;
}
.expview {
    padding:200px;
}
.projview {
    padding:200px;
}
.designview {
    padding:200px;
}

/* Navigation*/

.navbar {
    background-color: transparent;
    font-family: 'CODEBold';
    letter-spacing: 1px;
    text-align: center;
}

.scrolling-navbar {
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
}

.top-nav-collapse {
    background-color: #000000;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.homecontent {
    background-color: #323278;
    color: white;
    margin-top: -1px;
    font-family: 'Lato-Regular';
    letter-spacing: 1px;
}

.designcontent {
    background-color: #3B003B;
    color: white;
    margin-top: -1px;
    font-family: 'Lato-Regular';
    letter-spacing: 1px;
}

.expcontent {
    background-color: #526DAA;
    color: white;
    margin-top: -1px;
    font-family: 'Lato-Regular';
    letter-spacing: 1px;
}

.projcontent {
    background-color: #004E4E;
    color: white;
    margin-top: -1px;
    font-family: 'Lato-Regular';
    letter-spacing: 1px;
}

footer.page-footer {
    background-color: black;
    margin-top: -1px;
    font-family: 'Lato-Regular';
    letter-spacing: 2px;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #000000;
    }
}

.flex-center {
    color: #fff;
    font-family: 'CODEBold';
    font-size: 30px;
    letter-spacing: 2px;
}

.homeview {
    background: #2E0854;
}

.designview {
    background: #4F144F;
}

.expview {
    background: #3E5996;
}

.projview {
    background: #006262;
}

.design-modal-content{
    background-color: #4F144F;
    color:white;
    border-radius:50px;
}

.exp-modal-content{
    background-color: #3E5996;
    color:white;
    border-radius:50px;
}

.proj-modal-content{
    background-color: #008080;
    color:white;
    border-radius:50px;
}

.umlogo{
    width:20%;
}

.animated img{
    width:60%;
    display: block;
    margin: 0 auto;
}

.call-to-action {
    position:relative;
    top:20px;
}

.call-to-action img{
    width:8%;
    border-radius:10px;
}

.expimg1{
    width:80%;
}

.expimg2{
    width:80%;
}

.expimg3{
    width:80%;
}

.expimg4{
    width:80%;
}

.expimg5{
    width:80%;
}

.expimg6{
    width:80%;
}

.expimg7{
    width:80%;
}

.expimg8{
    width:80%;
}

.expimg9{
    width:60%;
}

.projimg1{
    width:50%;
}

.projimg2{
    width:80%;
}

 .projimg3{
    width:30%;
}

.fpsUIimage{
    width:100%;
    display: block;
    margin: auto;
}

.immigrantimage1{
    width:50%;
    display: block;
    margin: auto;
}

.immigrantimage2{
    width:70%;
    display: block;
    margin: auto;
}

.mobilegameimage {
    width:60%;
    display: block;
    margin: auto;
}

.flyerimage {
    width:80%;
    display: block;
    margin: auto;
}

.centered{
    text-align:center;
}

.modal-content{
    color:black;
}

.img-circle {
    border-radius:50%;
    width:35%;
    border: 5px solid black; 
}

.img-circle:hover{
    border: 5px solid cornflowerblue;
}

.img-circle-exp1{
    border-radius:50%;
    width:35%;
    border: 5px solid black; 
}

.img-circle-exp2{
    border-radius:50%;
    width:35%;
    border: 5px solid black; 
}

.img-circle-exp3{
    border-radius:50%;
    width:35%;
    border: 5px solid black; 
}

.img-circle-exp4{
    border-radius:50%;
    width:35%;
    border: 5px solid black; 
}

.img-circle-exp5{
    border-radius:50%;
    width:35%;
    border: 5px solid black; 
}

.img-circle-exp1:hover{
    border: 5px solid cornflowerblue;
}

.img-circle-exp2:hover{
    border: 5px solid cornflowerblue;
}

.img-circle-exp3:hover{
    border: 5px solid cornflowerblue;
}

.img-circle-exp4:hover{
    border: 5px solid cornflowerblue;
}

.img-circle-exp5:hover{
    border: 5px solid cornflowerblue;
}


.img-circle-proj1{
    border-radius:50%;
    width:40%;
    border: 5px solid black; 
}

.img-circle-proj2{
    border-radius:50%;
    width:40%;
    border: 5px solid black; 
}

.img-circle-proj3{
    border-radius:50%;
    width:40%;
    border: 5px solid black; 
}

.img-circle-proj4{
    border-radius:50%;
    width:40%;
    border: 5px solid black; 
}

.img-circle-proj5{
    border-radius:50%;
    width:40%;
    border: 5px solid black; 
}


.img-circle-proj1:hover{
    border: 5px solid cornflowerblue;
}

.img-circle-proj2:hover{
    border: 5px solid cornflowerblue;
}

.img-circle-proj3:hover{
    border: 5px solid cornflowerblue;
}

.img-circle-proj4:hover{
    border: 5px solid cornflowerblue;
}

.img-circle-proj5:hover{
    border: 5px solid cornflowerblue;
}


.sigimg{
    width:100%;
    display: block;
    margin: auto;
}

.progimg{
    width:60%;
    display: block;
    margin: auto;
}


.img-circle-aboutme{
    border-radius:50%;
    width:15%;
    border: 2px solid black; 
}

.aboutme{
    padding-bottom:80px;
    padding-top:60px;
    text-align:center;
}

.coursework {
    border-radius: 15px;
    background: none;
    padding: 10px 10px;
    border: 3px solid royalblue;
    margin: 15px;
}

.coursework:hover{
    border: 5px solid cornflowerblue;
}

.padding {
    padding-bottom:20px;
    padding-top:60px;
}

.mobilescreens{
    width:50%;
}

.carousel-control {
    width:5%;
}
.carousel-control .icon-prev, 
.carousel-control .icon-next {
    font-size: 120px;
}

.btn {
    border-radius:10px;
}

/* add space between rows */
.bottom-buffer {
    margin-bottom:40px;
}

.topgrid1 {
    width:100%;
}
.topgrid1 div {
    width:50%;
    padding:112px;
    float:left;
}

.topgrid2 {
    width:100%;
}
.topgrid2 div {
    width:50%;
    padding:96px;
    float:left;
}

.botgrid {
    width:100%;
}
.botgrid div {
    width:100%;
    padding:70px;
    float:right;
}

.aboutmegrid {
    opacity:1;
    background: #6B238E;
    text-align:top;
}

.aboutmegrid:hover {
    background: #000000;
}


.aboutmegrid .aboutmetext{
    visibility:hidden;
}
.aboutmegrid:hover .aboutmetext {
    visibility:visible;
}

.skillsgrid {
    opacity:1;
    background:#551A8B;
}

.skillsgrid:hover {
    background: #000000;
}

.skillsgrid .skillstext{
    visibility:hidden;
}
.skillsgrid:hover .skillstext {
    visibility:visible;
}

.courseworkgrid {
    opacity:1;
    background:#754C78;
}

.courseworkgrid:hover {
    background: #000000;
}

.courseworkgrid .courseworktext{
    visibility:hidden;
}
.courseworkgrid:hover .courseworktext {
    visibility:visible;
}
