body{
	color:white !important;
	font-family: "Calisto MT" !important;
	background-color: lightgray !important;
    text-align: center;
}
.titleimage img {
	width:50%;
	border:1px solid;
	border-color:black;
}

.image1 img {
    width:50%;
    height:auto;
}

.image2 img{
    width:50%;
    height:auto;
}

.projtext1{
	display:inline-block;
    vertical-align:top;
    position:relative;
    width:380px;
    font-size: 20px;
    background-color:cornflowerblue;
    margin:10px;
    border-radius:20px;
    padding:10px;
}

.projtext2{
	display:inline-block;
    vertical-align:top;
    position:relative;
    width:380px;
    font-size: 20px;
    background-color:cornflowerblue;
    margin:10px;
    border-radius:20px;
}

.text1{
    display:inline-block;
    vertical-align:top;
    position:relative;
    width:380px;
    font-size: 20px;
    background-color:cornflowerblue;
    margin:10px;
    border-radius:20px;
    padding:10px;
}

.text2{
    display:inline-block;
    vertical-align:top;
    position:relative;
    font-size: 20px;
    background-color:cornflowerblue;
    margin:10px;
    border-radius:20px;
    padding:10px;
}

.navbar ul,li,a {
    display: inline;
    font-size:16px;
}

.Headings {
    color:cornflowerblue;
    background-image:url("media/nq.jpg");
	background-repeat:no-repeat;
}
.linkedin img{
	width:15%;
}

.email{
	color:cornflowerblue;
}