body{
	color:white !important;
	font-family: "Calisto MT" !important;
	background-color: lightgray !important;
    text-align: center;
}

.image1 img {
    width:50%;
    height:auto;
}

.image2 img{
    width:50%;
    height:auto;
}

.projtext1{
	display:inline-block;
    vertical-align:top;
    position:relative;
    width:380px;
    font-size: 20px;
    background-color:cornflowerblue;
    margin:10px;
    border-radius:20px;
    padding:10px;
}

.projtext1 a{
	color: white;
}
.text1{
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 100%;        /* added full width */
    font-size: 20px;
    background-color: cornflowerblue;
    margin: 10px;
    border-radius: 20px;
    padding: 10px;
}

.text1 a{
    color: white;
}

.navbar ul,li,a {
    display: inline;
    font-size:16px;
}

.jumbotron {
    background-image:url("../media/nq.jpg");
	background-repeat:no-repeat;
	background-position: center center;
	background-size: cover;
	min-height: 500px;
}

.jumbotron h2{
     color: white;
}

.titleimage img{
	width:50%;
	border:1px solid;
	border-color:black;
}

#linkedin img{
	width:15%;
}

#email{
	color:cornflowerblue;
}